*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
secret_token.rb

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
test/testdata/001rubyrogues_files/1435746406.js
test/testdata/001rubyrogues_files/6ab3d9f707d3ff9f55d9f1a7673695031a28ffce.png
test/testdata/001rubyrogues_files/Code-Climate-4.png
test/testdata/001rubyrogues_files/comment-reply.min.js
test/testdata/001rubyrogues_files/custom.css
test/testdata/001rubyrogues_files/default_thumb-137x137.png
test/testdata/001rubyrogues_files/down_arrow.png
test/testdata/001rubyrogues_files/feedback-tab.png
test/testdata/001rubyrogues_files/fyre-spinner-ball.png
test/testdata/001rubyrogues_files/ga(1).js
test/testdata/001rubyrogues_files/ga.js
test/testdata/001rubyrogues_files/gICGxJqGR1U92J47jh9x9Q.js
test/testdata/001rubyrogues_files/http---rubyrogues.html
test/testdata/001rubyrogues_files/in.php
test/testdata/001rubyrogues_files/ir
test/testdata/001rubyrogues_files/ir(1)
test/testdata/001rubyrogues_files/ir(2)
test/testdata/001rubyrogues_files/itunes.png
test/testdata/001rubyrogues_files/jquery-migrate.min.js
test/testdata/001rubyrogues_files/jquery.js
test/testdata/001rubyrogues_files/jquery.min.js
test/testdata/001rubyrogues_files/jquery.shareaholic-publishers-rd.min.js
test/testdata/001rubyrogues_files/jquery.shareaholic-publishers-sb.min.js
test/testdata/001rubyrogues_files/js
test/testdata/001rubyrogues_files/layout.css
test/testdata/001rubyrogues_files/lf-logo.png
test/testdata/001rubyrogues_files/livefyre.js
test/testdata/001rubyrogues_files/livefyre_base.js
test/testdata/001rubyrogues_files/livefyre_embed.css
test/testdata/001rubyrogues_files/livefyre_main.css
test/testdata/001rubyrogues_files/livefyre_mod_editor_main.js
test/testdata/001rubyrogues_files/livefyre_mod_main.js
test/testdata/001rubyrogues_files/mediaelement-and-player.min.js
test/testdata/001rubyrogues_files/mediaelementplayer.min.css
test/testdata/001rubyrogues_files/new_logo.png
test/testdata/001rubyrogues_files/NR-250x250-clue-ruby.gif
test/testdata/001rubyrogues_files/play_audio.png
test/testdata/001rubyrogues_files/player.js
test/testdata/001rubyrogues_files/powerpress-mejs.js
test/testdata/001rubyrogues_files/quant.js
test/testdata/001rubyrogues_files/RailsRampUpBanner.png
test/testdata/001rubyrogues_files/recommendations.css
test/testdata/001rubyrogues_files/RM250x250.png
test/testdata/001rubyrogues_files/rss.png
test/testdata/001rubyrogues_files/saved_resource
test/testdata/001rubyrogues_files/shareaholic-analytics.js
test/testdata/001rubyrogues_files/shareaholic.js
test/testdata/001rubyrogues_files/shareaholic_tools.js
test/testdata/001rubyrogues_files/style.css
test/testdata/001rubyrogues_files/track.js
test/testdata/001rubyrogues_files/uv_styles.css
test/testdata/001rubyrogues_files/wp-mediaelement.css
test/testdata/002rubyrogues_files/1435746406.js
test/testdata/002rubyrogues_files/6ab3d9f707d3ff9f55d9f1a7673695031a28ffce.png
test/testdata/002rubyrogues_files/Code-Climate-4.png
test/testdata/002rubyrogues_files/comment-reply.min.js
test/testdata/002rubyrogues_files/custom.css
test/testdata/002rubyrogues_files/default_thumb-137x137.png
test/testdata/002rubyrogues_files/down_arrow.png
test/testdata/002rubyrogues_files/feedback-tab.png
test/testdata/002rubyrogues_files/fyre-spinner-ball.png
test/testdata/002rubyrogues_files/ga(1).js
test/testdata/002rubyrogues_files/ga.js
test/testdata/002rubyrogues_files/gICGxJqGR1U92J47jh9x9Q.js
test/testdata/002rubyrogues_files/http---rubyrogues.html
test/testdata/002rubyrogues_files/in.php
test/testdata/002rubyrogues_files/ir
test/testdata/002rubyrogues_files/ir(1)
test/testdata/002rubyrogues_files/ir(2)
test/testdata/002rubyrogues_files/itunes.png
test/testdata/002rubyrogues_files/jquery-migrate.min.js
test/testdata/002rubyrogues_files/jquery.js
test/testdata/002rubyrogues_files/jquery.min.js
test/testdata/002rubyrogues_files/jquery.shareaholic-publishers-rd.min.js
test/testdata/002rubyrogues_files/jquery.shareaholic-publishers-sb.min.js
test/testdata/002rubyrogues_files/js
test/testdata/002rubyrogues_files/layout.css
test/testdata/002rubyrogues_files/lf-logo.png
test/testdata/002rubyrogues_files/livefyre.js
test/testdata/002rubyrogues_files/livefyre_base.js
test/testdata/002rubyrogues_files/livefyre_embed.css
test/testdata/002rubyrogues_files/livefyre_main.css
test/testdata/002rubyrogues_files/livefyre_mod_editor_main.js
test/testdata/002rubyrogues_files/livefyre_mod_main.js
test/testdata/002rubyrogues_files/mediaelement-and-player.min.js
test/testdata/002rubyrogues_files/mediaelementplayer.min.css
test/testdata/002rubyrogues_files/new_logo.png
test/testdata/002rubyrogues_files/NR-250x250-clue-ruby.gif
test/testdata/002rubyrogues_files/oven.js
test/testdata/002rubyrogues_files/play_audio.png
test/testdata/002rubyrogues_files/player.js
test/testdata/002rubyrogues_files/powerpress-mejs.js
test/testdata/002rubyrogues_files/quant.js
test/testdata/002rubyrogues_files/RailsRampUpBanner.png
test/testdata/002rubyrogues_files/recommendations.css
test/testdata/002rubyrogues_files/RM250x250.png
test/testdata/002rubyrogues_files/rss.png
test/testdata/002rubyrogues_files/saved_resource
test/testdata/002rubyrogues_files/saved_resource(1)
test/testdata/002rubyrogues_files/saved_resource(2)
test/testdata/002rubyrogues_files/saved_resource(3)
test/testdata/002rubyrogues_files/saved_resource.html
test/testdata/002rubyrogues_files/shareaholic-analytics.js
test/testdata/002rubyrogues_files/shareaholic.js
test/testdata/002rubyrogues_files/shareaholic_tools.js
test/testdata/002rubyrogues_files/style.css
test/testdata/002rubyrogues_files/track.js
test/testdata/002rubyrogues_files/uv_styles.css
test/testdata/002rubyrogues_files/wp-mediaelement.css
test/testdata/EpisodeGuide_files/1435746406.js
test/testdata/EpisodeGuide_files/50.jpg
test/testdata/EpisodeGuide_files/6ab3d9f707d3ff9f55d9f1a7673695031a28ffce.png
test/testdata/EpisodeGuide_files/Code-Climate-4.png
test/testdata/EpisodeGuide_files/comment-reply.min.js
test/testdata/EpisodeGuide_files/CommentCount.js
test/testdata/EpisodeGuide_files/custom.css
test/testdata/EpisodeGuide_files/default_thumb-137x137.png
test/testdata/EpisodeGuide_files/down_arrow.png
test/testdata/EpisodeGuide_files/fyre-spinner-ball.png
test/testdata/EpisodeGuide_files/ga(1).js
test/testdata/EpisodeGuide_files/ga.js
test/testdata/EpisodeGuide_files/gICGxJqGR1U92J47jh9x9Q.js
test/testdata/EpisodeGuide_files/http---rubyrogues.html
test/testdata/EpisodeGuide_files/in(1).php
test/testdata/EpisodeGuide_files/in.php
test/testdata/EpisodeGuide_files/itunes.png
test/testdata/EpisodeGuide_files/jquery-migrate.min.js
test/testdata/EpisodeGuide_files/jquery.js
test/testdata/EpisodeGuide_files/jquery.min.js
test/testdata/EpisodeGuide_files/jquery.shareaholic-publishers-rd.min.js
test/testdata/EpisodeGuide_files/jquery.shareaholic-publishers-sb.min.js
test/testdata/EpisodeGuide_files/js
test/testdata/EpisodeGuide_files/layout.css
test/testdata/EpisodeGuide_files/lf-logo.png
test/testdata/EpisodeGuide_files/livefyre.js
test/testdata/EpisodeGuide_files/livefyre_base.js
test/testdata/EpisodeGuide_files/livefyre_embed.css
test/testdata/EpisodeGuide_files/livefyre_main.css
test/testdata/EpisodeGuide_files/livefyre_mod_editor_main.js
test/testdata/EpisodeGuide_files/livefyre_mod_main.js
test/testdata/EpisodeGuide_files/mediaelement-and-player.min.js
test/testdata/EpisodeGuide_files/mediaelementplayer.min.css
test/testdata/EpisodeGuide_files/new_logo.png
test/testdata/EpisodeGuide_files/NR-250x250-clue-ruby.gif
test/testdata/EpisodeGuide_files/oven.js
test/testdata/EpisodeGuide_files/player.js
test/testdata/EpisodeGuide_files/powerpress-mejs.js
test/testdata/EpisodeGuide_files/quant.js
test/testdata/EpisodeGuide_files/RailsRampUpBanner.png
test/testdata/EpisodeGuide_files/recommendations.css
test/testdata/EpisodeGuide_files/RM250x250.png
test/testdata/EpisodeGuide_files/rss.png
test/testdata/EpisodeGuide_files/saved_resource
test/testdata/EpisodeGuide_files/saved_resource(1)
test/testdata/EpisodeGuide_files/saved_resource(2)
test/testdata/EpisodeGuide_files/saved_resource.html
test/testdata/EpisodeGuide_files/shareaholic-analytics.js
test/testdata/EpisodeGuide_files/shareaholic.js
test/testdata/EpisodeGuide_files/shareaholic_tools.js
test/testdata/EpisodeGuide_files/style.css
test/testdata/EpisodeGuide_files/track.js
test/testdata/EpisodeGuide_files/uv_styles.css
test/testdata/EpisodeGuide_files/wp-mediaelement.css
test/testdata/rubyTapasPage_files/001.jpg
test/testdata/rubyTapasPage_files/004.jpg
test/testdata/rubyTapasPage_files/007.jpg
test/testdata/rubyTapasPage_files/010.jpg
test/testdata/rubyTapasPage_files/013.jpg
test/testdata/rubyTapasPage_files/017.jpg
test/testdata/rubyTapasPage_files/021.jpg
test/testdata/rubyTapasPage_files/022.jpg
test/testdata/rubyTapasPage_files/027.jpg
test/testdata/rubyTapasPage_files/029.jpg
test/testdata/rubyTapasPage_files/033.jpg
test/testdata/rubyTapasPage_files/036.jpg
test/testdata/rubyTapasPage_files/038.jpg
test/testdata/rubyTapasPage_files/042.jpg
test/testdata/rubyTapasPage_files/045.jpg
test/testdata/rubyTapasPage_files/046.jpg
test/testdata/rubyTapasPage_files/049.jpg
test/testdata/rubyTapasPage_files/052.jpg
test/testdata/rubyTapasPage_files/application.js
test/testdata/rubyTapasPage_files/cloudflare.min.js
test/testdata/rubyTapasPage_files/css
test/testdata/rubyTapasPage_files/default.png
test/testdata/rubyTapasPage_files/ga.js
test/testdata/rubyTapasPage_files/in(1).php
test/testdata/rubyTapasPage_files/in(2).php
test/testdata/rubyTapasPage_files/in(3).php
test/testdata/rubyTapasPage_files/in(4).php
test/testdata/rubyTapasPage_files/in.php
test/testdata/rubyTapasPage_files/jquery-1.9.0.min.js
test/testdata/rubyTapasPage_files/logo.png
test/testdata/rubyTapasPage_files/logo2x.png
test/testdata/rubyTapasPage_files/play.png
test/testdata/rubyTapasPage_files/reset.css
test/testdata/rubyTapasPage_files/styles2.css
