%p
 =notice

%div{:id=>"articles", :style=>"float:none"}
 -if params[:search]
  %h1
   ="Articles about \"#{params[:search]}\""
 -else
  %h1 All articles
 %ul
  -@articles.each do |article|
   %li
    =link_to article, :class => "article" do
     %div{:style=>"clear:both; height:20px;"}
      %div{:style=>"float:left;margin-top:3px;"}
       =article.name
      %div{:style=>"float:right;margin-top:3px; margin-left:10px"}
       = render :partial => "shared/cost_label", locals: {article: article}
      %div{:class=>"supplier right"}
       =article.type