%p
 =notice

%div{:id=>"articles", :style=>"float:none"}
 -if params[:search]
  %h1
   ="Articles about \"#{params[:search]}\""
 -else
  %h1 All articles
 %ul
  -@articles.each do |article|
   = render :partial => "shared/article_line", locals: {article: article}