- favourites = current_user.favourites
- viewed = current_user.viewed
%div{:id => "article_stats"}
 %h1
  =@user.username

%div{:id=>"home"}
 %div{:class=>"list"}
  %h1 
   ="#{favourites.count} Favourites"
  %ul
   -favourites.each do |article|
    = render :partial => "shared/short_article_line", locals: {article: article}
 %div{:class=>"list"}
  %h1
   ="#{viewed.count} Watched"
  %ul
   -viewed.each do |article|
    = render :partial => "shared/short_article_line", locals: {article: article}