%table{:style=>"margin-top:50px"}
 %tr
  %td{:class => "icon"} &#127916; 
  %td
   Video
 %tr
  %td{:class => "icon"} &#9835;
  %td
   Audio
 %tr
  %td{:class => "icon"} &#127891;
  %td
   Course
 %tr
  %td{:class => "icon"} &#10003;
  %td
   Watched
 %tr
  %td{:class => "icon"} &#9825;
  %td
   Favourite