%li{:class=>"#{article.medium} #{article.supplier}"}
 =link_to article, :class => "article" do
  %table
   %tr
    %td{:style=>"width:300px"}
     =article.name
    %td{:class=>"icon", :style=>"width:30px"}
     - case article.medium
      - when Article::VIDEO
       &#127916;  
      - when Article::AUDIO
       &#9835;  
      - when Article::COURSE
       &#127891;  
    %td{:style=>"color:grey"}
     =article.supplier