%p
 =notice
%h1 Recent episodes
%table
 -@episodes.recent.each do |episode|
  %tr
   %td
    =episode.type
   %td
    =link_to episode.name , episode

%h1 Old episodes
%table
 -@episodes.old.each do |episode|
  %tr
   %td
    =episode.type
   %td
    =link_to episode.name , episode