%p
 =notice

%div{:id=>"episodes", :style=>"float:none"}
 %h1 All episodes
 %ul
  -@episodes.each do |episode|
   %li
    =link_to episode, :class => "episode" do
     =episode.name
     %span{:class=>"supplier"}
      =episode.type
