%p
 =notice
%h1 Recent episodes
%table
 -@episodes.recent.unwatched.each do |episode|
  %tr
   %td
    =episode.source
   %td
    =link_to episode.supplier_id.to_s + " " + episode.name , episode

%h1 Old episodes
%table
 -@episodes.unwatched.old.each do |episode|
  %tr
   %td
    =episode.source
   %td
    =link_to episode.supplier_id.to_s + " " + episode.name , episode

%h1 Watched episodes
%table
 -@episodes.watched.each do |episode|
  %tr
   %td
    =episode.supplier_id
   %td
    =link_to episode.name, episode