%div{:id=>"episode"}
 %div{:id=>"description"}
  %h1
   =@episode.name
  %p
   =@episode.description
  -if @episode.type == "Rubytapas" && !@episode.free
   %p 
    If you have a paid subscription, you can
    =link_to @episode.video_link, :class=>"button" do
     %span download the episode here
  -else
   =link_to @episode.video_link, :class=>"button right" do
    %span Go to episode
 %div{:id=>"labels"}
  -if @episode.free
   %p{:class=>"label label-success"}
    Free episode
  -else
   %p{:class=>"label label-danger"}
    Subscription needed
  %p
   =@episode.type
  %p
   - if @episode.published_at> (Time.now - 24.hours)
    today
   - else
    ="Published #{distance_of_time_in_words(@episode.published_at, Time.now)} ago"