%h1
 =@episode.name
 %p
 =@episode.type
%p
 =@episode.description
%p
 =@episode.free ? "Free episode" : "Subscription needed"
%p
 - if @episode.published_at> (Time.now - 24.hours)
  today
 - else
  ="Published #{distance_of_time_in_words(@episode.published_at, Time.now)} ago"

-if @episode.type == "Rubytapas" && !@episode.free
 %p 
  If you have a paid subscription, you can download the episode
  %a{:href => @episode.video_link}>here
-else
 %a{:href => @episode.video_link}>Go to episode

= link_to 'Back', episodes_path