%div{:id => "synopsis"}
 %p Rubyclopedia is a catalogue of Ruby videos, tutorials, blog posts...
 %p everything you need to learn about Ruby and improve your Ruby skills

%div{:id => "article_stats"}
 %h1
  ="#{Article.count} articles"
 %a{:href => articles_path}
  See full list of articles

%div{:id=>"home"}
 %div{:id=>"articles", :style=>"float:none"}
  %h1 Most recent articles
  %ul
   -Article.find(:all, :order => "published_at desc", :limit => 10).each do |article|
    = render :partial => "shared/article_line", locals: {article: article}