%div{:id => "synopsis"}
 %p Rubyclopedia is a catalogue of Ruby videos, tutorials, blog posts...
 %p Everything you need to learn about Ruby and improve your Ruby skills
 %p As a registered user, you can:
 %p{:style => "margin-left:50px"} - mark your favourite articles
 %p{:style => "margin-left:50px"} - mark entries as viewed
 %p{:style => "margin-left:50px"} - keep notes on the different Ruby resources listed in the Rubyclopedia

-cache do
 %div{:id => "article_stats"}
  %h1
   ="#{Article.count} entries"
  %a{:href => articles_path}
   See full list of entries 
 %div{:id=>"home"}
  %div{:class=>"list"}
   %h1 Most recent entries
   %ul
    -Article.notcourse.find(:all, :conditions => ['published_at is not null'], :order => "published_at desc", :limit => 5).each do |article|
     = render :partial => "shared/short_article_line", locals: {article: article}
  %div{:class=>"list"}
   %h1 Courses
   %ul
    -Article.course.find(:all).sample(5).each do |article|
     = render :partial => "shared/short_article_line", locals: {article: article}