%div{:id => "synopsis"}
 %p Rubyclopedia is a catalogue of Ruby videos, tutorials, blog posts...
 %p everything you need to learn about Ruby and improve your Ruby skills

%div{:id => "episode_stats"}
 %h1
  ="#{Episode.count} episodes"
 %p and counting...

%div{:id=>"home"}
 %div{:id=>"episodes"}
  %h1 Latest articles
  %ul
   -Episode.find(:all, :order => "published_at desc", :limit => 5).each do |new_episode|
    %li
     =link_to new_episode, :class => "episode" do
      =new_episode.name
      %span{:class=>"supplier"}
       =new_episode.type

 %div{:id=>"search"}
  %h1 Search
  %input{:type=>"text"}