%div{:id => "synopsis"}
 %p Rubyclopedia is a catalogue of Ruby videos, tutorials, blog posts...
 %p Everything you need to learn about Ruby and improve your Ruby skills

%div{:id => "article_stats"}
 %h1
  ="#{Article.count} entries"
 %a{:href => articles_path}
  See full list of entries

%div{:id=>"home"}
 %div{:class=>"list"}
  %h1 Most recent entries
  %ul
   -@articles.each do |article|
    = render :partial => "shared/short_article_line", locals: {article: article}
 %div{:class=>"list"}
  %h1 Courses
  %ul
   -@courses.each do |article|
    = render :partial => "shared/short_article_line", locals: {article: article}