%p The Rubyclopedia is brought to you from London by Camille Baldock.

%p I do not own any rights to any of the data listed on this site.

%p This website exists in the hope that it will be useful, but without any warranty, without even the implied warranty of merchantability or fitness for a particular purpose

%p If you want to get in touch, you can do so via mail to me at ruby (at) camillebaldock (dot) co (dot) uk

%p You can also find me on Twitter as #{ link_to '@camille_ldn ', 'https://twitter.com/camille_ldn'} and on #{ link_to 'Github ', 'https://github.com/camilleldn/rubyclopedia'}