%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1 Rubyclopedia submissions
    %p
      Hi, #{@submission.user.username}
    %p
      Your submission to the Rubyclopedia has unfortunately been refused. 
    %p
      This could be either for copyright issues, unsuitability of content (not Ruby training material) or the existence of a duplicate entry. If you would like more details about this refusal, please get in touch with ruby@camillebaldock.co.uk
    %p
      Thank you for your contribution !