// Place all the styles related to the Episodes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#description {
  float:left;
  width:70%;
}

#description p {
  line-height:30px;
}

#labels {
  float:left;
  padding-left:30px;
}

#article {
  height:250px;
  padding-left:20px;
  padding-top:30px;
}