body {
  background-color: #fff;
  color: #333;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-size: 13px;
  line-height: 18px;
}

body {
  margin:0;
  padding:0;
  border:0;
  font-family:'ColabLig';
}

h1 {
  font-family:'Ubuntu';
}

p {
  font-family:'ColabMed';
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

@font-face {
  font-family: 'Lilly';
  src:url('Lilly.eot');
  src:url('Lilly.eot?#iefix') format('embedded-opentype'),
    url('Lilly.svg#icomoon') format('svg'),
    url('Lilly.woff') format('woff'),
    url('Lilly.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ColabLig';
  src:url('ColabLig.eot');
  src:url('ColabLig.eot?#iefix') format('embedded-opentype'),
    url('ColabLig.svg#icomoon') format('svg'),
    url('ColabLig.woff') format('woff'),
    url('ColabLig.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ColabMed';
  src:url('ColabMed.eot');
  src:url('ColabMed.eot?#iefix') format('embedded-opentype'),
    url('ColabMed.svg#icomoon') format('svg'),
    url('ColabMed.woff') format('woff'),
    url('ColabMed.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src:url('Ubuntu.eot');
  src:url('Ubuntu.eot?#iefix') format('embedded-opentype'),
    url('Ubuntu.svg#icomoon') format('svg'),
    url('Ubuntu.woff') format('woff'),
    url('Ubuntu.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.label {
  display: inline;
  padding: .4em .6em .4em;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.label-success {
  background-color: #5cb85c;
}

.label-info {
  background-color: #5bc0de;
}

.label-warning {
  background-color: #f0ad4e;
}


.label-danger {
  background-color: #d9534f;
}

.button {
    display: inline-block;
    margin: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow:    0 8px 0 #F7819F, 0 15px 20px rgba(0, 0, 0, .35);
    -moz-box-shadow: 0 8px 0 #F7819F, 0 15px 20px rgba(0, 0, 0, .35);
    box-shadow: 0 8px 0 #F7819F, 0 15px 20px rgba(0, 0, 0, .35);
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
    -moz-transition: -moz-box-shadow .1s ease-in-out;
    -o-transition: -o-box-shadow .1s ease-in-out;
    transition: box-shadow .1s ease-in-out;
    font-size: 20px;
    color: #fff;
}

.button span {
    display: inline-block;
    padding: 10px 10px;
    background-color: #F7819F;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla(338, 90%, 80%, .8)), to(hsla(338, 90%, 70%, .2)));
    background-image: -webkit-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
    background-image: -moz-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
    background-image: -o-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    font-family: 'Lilly', Arial, sans-serif;
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .7);
    -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
    -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
    -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
    transition: background-color .2s ease-in-out, transform .1s ease-in-out;
}

.button:hover span {
    background-color: #ec6a9c;
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .9), 0 0 5px rgba(255, 255, 255, .8);
}

.button:active, .button:focus {
    -webkit-box-shadow:    0 8px 0 #F7819F, 0 12px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 8px 0 #F7819F, 0 12px 10px rgba(0, 0, 0, .3);
    box-shadow:    0 8px 0 #F7819F, 0 12px 10px rgba(0, 0, 0, .3);
}

.button:active span {
    -webkit-transform: translate(0, 4px);
    -moz-transform: translate(0, 4px);
    -o-transform: translate(0, 4px);
    transform: translate(0, 4px);
}

.right {
  float:right;
}