// ---------------------------------------------------------------------------
// Imports

@import "base";

/* -------------------------------------------------------------------------*/
/* Layout */

html,
body {
   margin:0;
   padding:0;
   height:100%;
}

#container {
   min-height:100%;
   position:relative;
}

body {
 	margin:0;
 	padding:0;
 	border:0;
 	font-family:'ColabMed';
}

h1 {
	font-family:'Ubuntu';
}

p {
	font-family:'ColabMed';
}

.icon {
  font-family:'Entypo';
  font-size:30px;
}

.right {
  float:right;
}

.ascii {
  float:left;
  line-height: 6px;
  margin-left:10px;
  width:150px;
  font-size:5px;
  font-weight:bolder;
  background-color: B0203F;
}

.title {
	background-color: #B0203F;
  width:98%;
	border-radius: 15px;
	display:inline-block;
	margin:5px;
  h1 {
    float:left;
    font-size:50px;
  }
  a {
    color:white;
  }
}

#searchform {
  float:right;
  width:300px;
  margin-right:10px;
  input[type="text"] {
    outline: none;
    padding: 10px;
    width: 300px;
    font-family: Helvetica, Arial, "Sans Serif";
    font-size: 13px;
    color: #333;
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0px 0px 10px 0px #eee;
    -moz-box-shadow: inset 0px 0px 10px 0px #eee;
    box-shadow: inset 0px 0px 10px 0px #eee;
  }
  input[type="text"]:focus {
    border-color: #999;
    -webkit-box-shadow: inset 0px 0px 10px 0px #ddd;
    -moz-box-shadow: inset 0px 0px 10px 0px #ddd;
    box-shadow: inset 0px 0px 10px 0px #ddd;
  }
}

#searchbox {
  float:right;
  margin-right:15px;
}

#synopsis {
  float:left;
  p {
    margin-left:25px;
  }
}

#article_stats {
  text-align:right;
  margin-right:15px;
}

.list {
  width:400px;
  float:left;
  margin-right:30px;
  margin-left:25px;
  &.long{
    width:700px;
  }
  ul {
    list-style: none;
    li {
      background-color:#fafafa;
      margin-bottom:4px;
      width:350px;
      height:25px;
      padding: 5px 0px 5px 5px;
      border-radius: 5px;
      &.long {
        width:600px;
      }
      a {
        text-decoration:none;
        display:block;
      }
      &:hover {
          background-color: #F7819F;
          .supplier {
            color:black;
          }
          a {
            color:white;
          }
      }
    }
  }
}

.filter {
  background: #E5E4E2;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 5px;
  -moz-box-shadow: 2px 2px 4px #aaa;
  -webkit-box-shadow: 2px 2px 4px #aaa;
  box-shadow: 2px 2px 4px #aaa;
  &.down {
    background-color: #B0203F;
    color:white;
    box-shadow:none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }   
}

#home {
  clear:both
}

#navlist li {
  display: inline;
  float:right;
  list-style-type: none;
  padding-right: 10px;
  margin-bottom:10px;
  a {
    text-decoration:none;
  }
}

.devise {
  margin-left:100px;
}

.pill {
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 5px;
  background-color: #B0203F;
  color:white;
  font-size:18px;
  text-decoration:none;
  margin-bottom:10px;
}