%html
 %head
  %title Rails Casts Progress Tracker
  =stylesheet_link_tag "application", :media => "all"
  =javascript_include_tag "application"
  =analytics_init
  =csrf_meta_tags
 %body{:style => ""}
  = yield
